
  form {
  width:400px;
  margin:auto;
  margin-top: 250px;
  border:4px;
  }
  .ad {
    background: #1c87c9;
  }
  input{
  padding:4px 10px;
  border:0.55;
  font-size:16px;
  }
  .ad {
  float: left;
  top:0.5;
  padding:4px 10px;
  border:0;
  font-size:20px;
  position:absolute;
  left:1800px;
  bottom:900px;
  margin-bottom:0
  }

  .sub {
  width: 70px;
  padding:7px 10px;
  border:0;
  font-size:15px;
  position:absolute;
  left:300px;
  bottom:900px;
  margin-bottom:0
  }
  .ser {
  padding:5px 50px;
  border:1;
  font-size:15px;
  position:absolute;
  left:0.4px;
  bottom:900px;
  margin-bottom:2
  }
  .sub {
   width: 70px;
   background-color: #1c87c9;
   color:#ffffff;
  }
  .name, .opis, .url {
  padding:4px 10px;
  border:0;
  font-size:25px;
  }
  .search {
  width: 75%;
  }
  .submit{
  width: 70px;
  background-color: #1c87c9;
  color:#ffffff;
  }

a {
  color: green;
}
body {
     background: white;
}